* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  background-color: black ;
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.logo {
  width: 100px;
  display: flex;
  height: 100px;
  padding: 8px 12px;
}

a {
  text-decoration: none;
}
html,
body {
  scroll-behavior: smooth;
}
body{
  font-family: "Noto Sans", sans-serif !important;
}
nav{
position: fixed;
isolation: isolate;
top:0;
width: 100%;
margin: auto;
z-index: 9;
}
.nav__bar{
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color:#ffffff;
}
.nav__menu__btn{
  font-size: 2.0rem;
  color: rgb(249, 201, 53);
  cursor: pointer;

}
.nav__links{
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:2rem;
  background-color:rgb(249, 201, 53);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}
.nav__links.open{
  transform: translateY(0);
}

.nav__links a:hover{
  color:black;
}
.btn__large{
  display: none;
}
.nav__links a {
font-weight: 500;
color: #000;
font-size: 15px;
line-height: 22px;
text-decoration: none;
position: relative;
}
.nav__links a.active {
font-weight: 600;
}
.nav__links a::after {
content: "";
position: absolute;
width: 100%;
height: 3px;
background: #000;
bottom: -10px;
left: 0;
background: linear-gradient(to left, #000 50%, transparent 50%);
background-size: 200% 100%;
background-position: 0% 0;
transition: all 0.2s ease-out;
border-radius: 4px;
}
.nav__links a.active::after {
background-position: 100% 0;
}
.nav__links a:hover::after {
background-position: -100% 0;
}
.nav__links a.active:hover::after {
background-position: 100% 0;
}
.downloadapp_mobile {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  margin-right: 6px;
}
/*contact*/
.contact_sec {
  margin-top: 150px;
  margin-bottom: 100px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.contact_form {
  display: flex;
 flex: 1.2 1 0%;
 flex-direction: column;
}
.form_section {
  padding-right: 10%;
  flex: 0.8 1 0%;
}
.contact h3 {
  font-weight: 700;
  margin: 0px 0px 0px 10px;
  color: rgb(0, 0, 0);
  font-size: 50px;
  line-height: 50px;
  display: flex;
}
.contact h6 {
  text-align: center;
  color: rgb(75, 75, 75);
  font-size: 18px;
  font-weight: 300;
  width: 110%;
  margin: 30px 0px 0px;
}
.we_care_head {
  margin-bottom: 20px;
}
.we_care_head {
  position: relative;
}
.rapido_input_group {
  margin-top: 30px;
  position: relative;
}
.rapido_input_group label {
  color: rgb(48, 48, 48);
  font-size: 16px;
  line-height: 25px;
}
label {
  cursor: default;
}
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  color: rgb(249, 201, 52);
}
sup {
  vertical-align: super;
  font-size: smaller;
}
.rapido_input_group input, .rapido_input_group select {
  height: 52px;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 48, 48);
  width: 110%;
  display: block;
  text-align: left;
  margin-top: 12.5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-image: initial;
  border-radius: 3px;
  padding: 0px 7px;
  outline: 0px;
}
.rapido_input_group textarea {
  height: 200px;
  background-color: rgb(255, 255, 255);
  color: rgb(48, 48, 48);
  width: 110%;
  max-width: 110%;
  display: block;
  text-align: left;
  margin-top: 12.5px;
  resize: none;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(220, 220, 220);
  border-image: initial;
  border-radius: 3px;
  padding: 10px 7px;
  outline: 0px;
}
.form_section .btn {
  width: 110%;
  margin-top: 30px;
  height: 52px;
  border-radius: 4px;
}
.yellow-btn {
  color: rgb(0, 0, 0);
  background: rgb(249, 201, 53);
  border-radius: 30px 30px 30px 5px;
  font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.address_sec img {
  display: none;
}
.address_div {
  margin-top: 50px;
}
.address_div label {
  color: rgb(48, 48, 48);
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.address_div p {
  color: rgb(48, 48, 48);
  font-size: 16px;
  line-height: 25px;
  margin: 10px 0px 0px;
}
/*footer*/

.container_1{
  text-align: center; 
}
.footer_sec {
  background: rgb(0, 0, 0);
  padding: 15px 0px;
}
.footer_links {
  border-bottom: 1px solid rgb(25, 25, 25);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.label {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.contact__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.contact__socials a {
  padding: 7px 10px;
  font-size: 1.5rem;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
a {
  text-decoration: none;
}
.contact__socials a:hover {
  background-color: grey;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.footer_copy {
  text-align: center;
}
.footer_copy h3 {
  opacity: 0.6;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin: 20px 0px 0px;
}

@media (width > 768px) {
  nav {
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
    }
  .nav__bar{
      padding: 0;
      background-color: none;
    }
  .nav__menu__btn{
    display: none;
  }
  .nav__links{
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: #ffffff;
    margin-left: 5rem;
  }
  .nav__links a:hover{
    color:#000;
  }
  .btn__large{
    display: flex;
    border-radius: 30px 30px 5px 30px;
    margin-right:2rem;
  }
  .downloadapp_mobile {
    display: none;
 }
 .contact_form {
  flex-direction: row;
}
.form_section {
  padding-right: 10%;
  flex: 0.8 1 0%;
}
.contact h6 {
  text-align: left;
  width: 70%;
  margin:20px;
}
.address_sec {
  text-align: right;
  flex: 0.4 1 0%;
}
.address_sec img {
  padding-left:50%;
  display: block;
}
.address_div {
  margin-top:10px;
  margin-bottom: 46px;
  text-align: left;
}
.footer_links{
flex-direction: row;
justify-content: center;
}
.center , .label{
  margin-top:50px;
  margin-right: 2rem;
  align-items: left;
}
.contact__socials{
  margin-bottom: 3rem;
}
}